@font-face {
  font-family: 'Press Start 2P';
  src: url('/src/game/data/fnt/PressStart2P.woff2') format('woff2'),
    url('/src/game/data/fnt/PressStart2P.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #202020;
  color: white;

  /* Allow mouse dragging. */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable touch panning/zooming */
  -ms-touch-action: none;
  touch-action: none;

  /* Allow canvas to hit the edges of the browser viewport. */
  margin: 0;
}

#screen canvas {
  width: 100vw;
  height: 100vh;
}
